@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">hii welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">it's an empty dir</a>.</p>
</div>
